<mat-card>
    <mat-card-header>
      <mat-card-title>Input file</mat-card-title>
      <mat-card-subtitle>Insert txt file and count number of words</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
  
    </mat-card-content>
    <mat-card-actions>
        <input type="file" accept=".txt" class="d-none" #fileUpload (change)="getFileInput($event)"/>
        <button mat-flat-button (click)="fileUpload.click()">
            <mat-icon>text_snippet</mat-icon> Insert file
        </button >
    </mat-card-actions>
</mat-card>

<div class="mt-5" *ngIf="text !== undefined">
    <p>count: {{text.count}}</p>
    <p>text: {{text.text}}</p>
  </div>